
<header>

  <div class="titre1">
    <h1> My Donkey- <span class="spanTitre"> Pokedex </span></h1>
  </div>

</header>

<a routerLink="/"> Pokemons List</a> |
<a routerLink="/pokemon-caught"> Pokemons Caught</a> |
<a routerLink="/pokemon-item"> Pokemons Item</a>



<li routerLinkActive="active" *ngIf="!isAuth">
<a routerLink="/auth-signup"> Créer un compte</a>
</li>

<li routerLinkActive="active" *ngIf="!isAuth">
<a routerLink="/auth-sigin">  Connexion </a>
</li>


<li>
  <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer"> Se déconnecter</a>
</li>
