
<nav class="navbar navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">

  <div class="titre1">
    <img  class="img-thumbnail" class="img-fluid" width="140px" [src]=pokeLogo>
  </div>

  </a>

  <a routerLink="/pokemon-list" > Pokemons List</a> |
  <a routerLink="/pokemon-caught"> Pokemons Caught</a> |
  <!-- <a routerLink="/pokemon-item"> Pokemons Item</a> -->

  <a routerLinkActive="active" *ngIf="!isAuth" routerLink="/auth-signup"> Créer un compte</a> |

  <a routerLinkActive="active" *ngIf="!isAuth" routerLink="/auth-sigin">  Connexion </a>

  <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer"> Se déconnecter</a>

</div>

</nav>
