
<h2> Pokedex List </h2>

<!-- <div class="p-3">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter a pokemon name"
      (input)="onPokemonNameType()"
      [(ngModel)]="pokemonName"
      #nameInput
    /> -->
    <!-- <button
      class="btn btn-primary"
      (click)="onAddPokemon(nameInput)"
      type="button"
    >
      Add Pokemon
    </button>
  </div> -->


  <!-- <div *ngIf="pokemonAdded">
    Pokemon was created ! Pokemon name is: {{ pokemonName }}
  </div> -->

<!-- </div> -->


<form>

<input
    type="text"
    class="form-control"
    placeholder="Entrer le nom d'un pokémon"
    [(ngModel)]="pokemonName"
    (ngModelChange) ="filterPokemons($event)"
    name="search"
  />

  <label for="type"> Type of Pokemon</label>
  <select name="type" id="type"  [(ngModel)]='selectedType' name="type">
    <option *ngFor=" let type of pokemonsType" [ngValue]='type' > {{type.type}} </option>
  </select>

  <button type="submit" (click)="filterType()"> Search </button>

</form>

<ul class="list-group">
  <p *ngIf="pokemons.length === 0 && !isFetching">Aucun pokémon de l'api</p>


<div class="pokemon-grid">
  <div class="box"
  *ngFor="let pokemon of pokemons ">
    <img [src]="pokemon.sprites.front_default" alt="Pokemon">
    <h3> {{ pokemon.name}} </h3>
    <p>
      <b>N°:</b> {{ pokemon.id }}
    </p>
    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }} {{ pokemon.types[1]?.type.name }}
    </p>
</div>


  <!-- <app-pokemon-item
  (click)="goToPokemonPage(i)"
  appHighlight="wheat"
  defaultColor="gray"
  *ngFor="let pokemon of pokemons; let i = index"
  [pokemon]="pokemon"
  > -->


<!-- <button
class="btn btn-primary mt-4"
(click)="fetchPokemons()"
type="button"
>Récupérer les pokémons
</button> -->




    <!-- (click)="goToPokemonPage(i)"
    *ngFor="let pokemon of pokemons; let i = index"
    [pokemon]="pokemon"
  > -->

    <!-- <img [src]="pokemon.sprites.front_default" alt="Pokemon">


    <h3> {{ pokemon.name}} </h3>

    <p>
      <b>N°:</b> {{ pokemon.id }}
    </p>

    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }}  {{ pokemon.types[1]?.type.name }}
    </p> -->






<!-- message error -->

  <!-- <div *ngIf="isFetching" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<div class="alert alert-danger" *ngIf="error">
  <h2>Une erreur est survenue ! Problème de connexion avec FireBase</h2>
  <p>{{ error }}</p>
</div> -->


<!-- <div class="pokemon-grid" >

  <button (click)="goToPokemonDetails(id)">Go </button>
</div> -->



<!--

  <div class="box"
  *ngFor="let pokemon of pokemons; let i = index"
  [routerLink]="['/pokemon-item', pokemon.id]"> -->

<!-- <div class="box"
 *ngFor="let pokemon of pokemons" [id]="pokemon.id">

  <!-- <div style="margin-top: 1rem;"> -->


<!--
  </div> -->

 <!-- <button
  (click)="onViewPokemon(i)"> View Pokemon
 </button> -->




 <!-- </div> -->
<!--
  <span class="ml-3"> {{pokemonAddListCaught}} </span>
 -->






