
<h2> Pokedex List </h2>

<div *ngFor= "let caught of pokemonCaught">

</div>

<form class="center">

  <input
      type="text"
      class="form-control "
      placeholder="Chercher un Pokemon"
      [(ngModel)]="pokemonName"
      (ngModelChange) ="filterPokemons($event)"
      name="search"
    />

  <div class="container">
      <label for="type"> Filtrer les Pokemons par Type  &nbsp; </label>
      <select class="filtre mt-3"  name="type" id="type"  [(ngModel)]='selectedType' name="type">
        <option *ngFor=" let type of pokemonsType" [ngValue]='type' > {{type.type}} </option>
      </select>
<br>
      <button type="submit" class="btn-danger text-warning m-3 rounded filtre" (click)="filterType()"> &nbsp; &nbsp;Filtrer ! &nbsp; &nbsp; </button>
  </div>

</form>


  <p *ngIf="pokemons.length === 0 && !isFetching">Aucun pokémon de l'api</p>

<div  class="pokemon-grid ">
  <div class="box"  *ngFor="let pokemon of pokemons; let i = index;"
  [routerLink]="['/pokemon-item', pokemon.id] | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }">

    <li class="col"> <img [src]="pokemon.sprites.front_default" alt="Pokemon" > </li>
    <li class="col"> <h3> {{ pokemon.name}} </h3> </li>
    <li class="col"> <b>N°:</b> {{ pokemon.id }} </li>
    <li class="col"> <b>Type:</b> {{ pokemon.types[0].type.name }} {{ pokemon.types[1]?.type.name }} </li>

    <div>
      <img  width="60px" [src]=ball routerLink="/pokemon-caught">
    </div>

  </div>

</div>




    <!-- <li> <a> (click)="clicPokemon(id)"> Voir le détail de {{pokemon.name}} </a> </li> -->

    <!-- <button *ngFor="let pokemon of pokemons"
    (click)="addPokemonCaught(pokemon)">
    {{pokemon}}
    </button>
    <button (click)="onSubmit()">
      Caught!!
    </button>
    <p *ngIf=pokemonSelectionne> {{pokemonSelectionne}} </p> -->


<!-- <div class="p-3">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter a pokemon name"
      (input)="onPokemonNameType()"
      [(ngModel)]="pokemonName"
      #nameInput
    /> -->
    <!-- <button
      class="btn btn-primary"
      (click)="onAddPokemon(nameInput)"
      type="button"
    >
      Add Pokemon
    </button>
  </div> -->


  <!-- <div *ngIf="pokemonAdded">
    Pokemon was created ! Pokemon name is: {{ pokemonName }}
  </div> -->

<!-- </div> -->

  <!-- <app-pokemon-item
  (click)="goToPokemonPage(i)"
  appHighlight="wheat"
  defaultColor="gray"
  *ngFor="let pokemon of pokemons; let i = index"
  [pokemon]="pokemon"
  > -->


<!-- <button
class="btn btn-primary mt-4"
(click)="fetchPokemons()"
type="button"
>Récupérer les pokémons
</button> -->


    <!-- (click)="goToPokemonPage(i)"
    *ngFor="let pokemon of pokemons; let i = index"
    [pokemon]="pokemon"
  > -->

    <!-- <img [src]="pokemon.sprites.front_default" alt="Pokemon">


    <h3> {{ pokemon.name}} </h3>

    <p>
      <b>N°:</b> {{ pokemon.id }}
    </p>

    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }}  {{ pokemon.types[1]?.type.name }}
    </p> -->






<!-- message error -->

  <!-- <div *ngIf="isFetching" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<div class="alert alert-danger" *ngIf="error">
  <h2>Une erreur est survenue ! Problème de connexion avec FireBase</h2>
  <p>{{ error }}</p>
</div> -->


<!-- <div class="pokemon-grid" >

  <button (click)="goToPokemonDetails(id)">Go </button>
</div> -->





<!-- <div class="box"
 *ngFor="let pokemon of pokemons" [id]="pokemon.id">

  <div style="margin-top: 1rem;"> -->


<!--
  </div> -->

 <!-- <button
  (click)="onViewPokemon(i)"> View Pokemon
 </button> -->




 <!-- </div> -->
<!--
  <span class="ml-3"> {{pokemonAddListCaught}} </span>
 -->



 <pagination-controls></pagination-controls>


