
<html>
  <head>
    <meta charset="UTF-8">

    <title> My Donkey-Pokedex</title>
    <link rel="icon" href="../../../img/ball.png"/>
  </head>

  <body>
    <header>

      <app-header></app-header>

    </header>

    <main>

      <a routerLink="/"> Pokemons List</a> |
      <a routerLink="/pokemon-item"> Pokemons Caught</a>

      <!-- <app-pokemon-list></app-pokemon-list> -->
      <!-- <app-pokemon-item></app-pokemon-item> -->

    </main>

    <footer>

    </footer>
  </body>
</html>

<router-outlet></router-outlet>
