/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primary:red;
$second: #ffcb05;

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// HEADER
.titre1 {
  color: $second;
  text-align: center;
}
.spanTitre {
  color: $primary;
}

//compenent LIST

.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25% 1fr));

}

.pokemon-grid .box {
  margin: 0 auto;
  display: grid;
  width: 300px;
  height: 500px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: wheat;
}

.container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

li {
  list-style-type: none;
  }

.center-div {
  margin: 0 auto;
  width: 250px;
}

.song {
  width: 200px;
  margin: 0 auto;
}


html {
  background: bgList no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// h2{
//   text-align: center;
//   font-size: 70px;
//   color: #ffcb05;
// }

input, label {
  text-align: center;
}
pagination-controls {
  text-align: center;
}

.filtre {
  font-size: 20px;
}
//item
.imgPoke {
  width: 200px;
  justify-content: center;
}

.namePoke, h2  {
  text-align: center;
  text-transform : uppercase;
  font-size: 70px;
  color: #ffcb05;
  -webkit-animation: random 7s infinite;
  animation: random 7s infinite;
}
@keyframes  random {
 15% { color: #FE1B00; }
 30% { color: #FFDE00; }
 45% { color: rgb(3, 146, 3); }
 60% { color: #3B4CCA }
 75% { color: purple; }
}

.wrapper {
  margin-top: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b";

}
.block1 {
  grid-area: a;
  grid-column:  1 / 2;
  grid-row: 2 / 2;
  text-align: center;
}

.block2 {
  grid-area: b;
  grid-column:  2 / 2;
  grid-row: 2 / 2;
  text-align: center;
}

.itemFooter {
  margin-top: 300px;
  margin-left: 70%;
}

.bi {
  cursor: pointer;

  &:hover {
    color: red
  }
}

