
  <head>
    <meta charset="UTF-8">
  </head>

  <body>

    <main>

    <section class="section1">


      <div class="titre1">
        <h1> Bienvenu sur ton   <span class="spanTitre">
           DonkeyDex ! </span> </h1>
      </div>

      <button routerLink="/pokemon-list" class="btnListe btn-danger text-warning m-3 rounded" width="150px" >Voir la liste des Pokemons !!</button>

    <figure>
      <img  class="img-fluid " width="100%" [src]=pokemonsImage>
    </figure>

      </section>


      <section class="section2">

        <div class="song">
          <h2 class="spanTitre"> Let sing !</h2>
          <p>Un jour je serai le meilleur dresseur
            Je me battrai sans répit
            Je ferai tout pour être vainqueur
            Et gagner les défis
            Je parcourrai la terre entière
            Traquant avec espoir
            Les Pokémon et leurs mystères
            Le secret de leurs pouvoirs </p>
          <p> <b> Pokémon ! </b> </p>
          <p>Attrapez les tous
          C'est notre histoire
          Ensemble pour la victoire
          <p> <b> Pokémon ! </b> </p>
          <p> Rien ne nous arrêtera </p>
        </div>

      </section>


      <router-outlet></router-outlet>


    </main>

    <footer>


    </footer>
  </body>

